/* main section */
main {
  margin: 0 5%;
}
main .col-left {
  float: left;
  width: 70%;
}
main .col-right {
  float: right;
  width: 30%;
}
.row {
  display: flex;
}
.note {
  font-size: 0.7rem;
  font-style: italic;
}

/* images */
.responsive-image {
  max-width: 100%;
  height: auto;
}
#portfolio-image {
  padding-top: 20px;
}

/* Responsive media query */
@media screen and (max-width: 640px) {
  .row {
    display: block;
  }
  main .col-left,
  main .col-right {
    width: 100%;
  }
}
